.A>h1{
    margin-top: 0px;
    color: black;
    background-color: rgb(214, 96, 96);
    text-align: center;
    padding: 30px;
    font-size: 50px;

}
.presentationA>p{
    color: black;
    font-weight: bold;
    font-size: 18px;
   
}
.AutomneA{
    margin: 20px;
    display: flex;
    justify-content: space-between;
    

}
.AutomneB{
    margin: 20px;
     display: flex;
    justify-content: space-between;

    
}
h2{
      background-color: rgb(214, 96, 96);
    border: 2px silod white;
    border-radius: 3px;
    padding: 10px;
    margin: 5px 600px;
    text-align: center;
    color:black;
     font-weight: bold;
     font-size: 25px;
}
.amaranta p{
     font-size: 18px;

     font-weight: bold;
    }

.AutomneA h3{
    background-color:rgba(56, 54, 54, 0.463) ;
    color:  rgb(82, 16, 16);
    border: 5px solid white;
    padding: 10px;
    font-size: 20px;

    

}
.AutomneB h3{
    background-color:white ;
    color:  rgb(92, 22, 22);
    border: 5px solid white;
     background-color:rgba(56, 54, 54, 0.463) ;
     padding: 10px;
}





       footer { background-color:  rgb(214, 96, 96);
      color: white;
      padding: 40px 30px;
      text-align: center;
       font-weight: bold;
   
    }


    .content {
      max-width: 800px;
      margin: auto;
    }

    .link, .contact, .media {
      margin-bottom: 20px;
    }

    .link a {
      margin: 0 10px;
      color: black;
      text-decoration: none;
    }

    .link a:hover {
      color:  black
    }

    .contact h3 {
        text-align: center;
        color:black;
      margin: 2px 0;
      font-size: 24px;
    }

    .media a {
      color:  black;
      margin: 0 8px;
      font-size: 20px;
      text-decoration: none;
    }

    .contacter p {
    border-radius: 5px;
    color:black;
    background-color: white;
    font-size: large;
    font-weight: bolder;
    
}

    .bottom {
      margin-top: 20px;
      font-size: 13px;
      color: black;
    }











.AutomneA img,
.AutomneB img {
  border-radius: 12px;
  border: 3px solid black; /* bordure stylisée plus visible */
  transition: transform 0.8s ease, border-color 0.3s ease;
  box-shadow: 0 4px 10px gray;
}

.AutomneA img:hover,
.AutomneB img:hover {
  transform: rotate(180deg);
  border-color:  rgb(214, 96, 96); /* bordure change de couleur au survol */
  box-shadow: 0 8px 20px rgb(214, 96, 96);
}